<div id="app-dashboard">
    <h2>Bonjour {{ member.firstname }} </h2>
    <div class="col">
        <div class="box">
            <h3>Présentation de la démo</h3>
            <p>
                Bienvenue sur mon application de démo et de training. J'utilise ce projet exemple
                pour travailler et faire évoluer mes compétences en front, sur Angular et
                prochainement Java EE pour le back-end. En parcourant l'application, vous pourrez
                ainsi avoir un aperçu de mes acquis.
            </p>
            <p>
                Cette application permet à un club de Crossfit de gérer le planning de ses cours,
                ses membres et ses abonnements.
            </p>
        </div>
        <div class="box">
            <h3>Principes mis en pratique dans l'application</h3>
            <ul>
                <li><p>Structural directives</p></li>
                <li><p>Bindings</p></li>
                <li><p>Services</p></li>
                <li><p>Routing</p></li>
                <li><p>HttpClient</p></li>
                <li><p>Observables et RxJS</p></li>
                <li><p>Anuglar Material</p></li>
                <li><p>Moment.js</p></li>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="box">
            <h3>Fonctionnalités de l'application</h3>
            <ul>
                <li><p>Création, édition et suppression de membre(s)</p></li>
                <li><p>Création, édition et suppression d'activité(s)</p></li>
                <li><p>Création, édition et suppression d'abonnement(s)</p></li>
                <li><p>Création d'un planning hebdomadaire avec la liste des activités du club</p></li>
                <li><p>Initialisation à la date du jour</p></li>
                <li><p>Ouverture d'un créneau</p></li>
                <li><p>Modification des limites par défaut de l'activité lors de l'ouverture d'un créneau</p></li>
                <li><p>Inscription de membre(s) à un créneau</p></li>
                <li><p>Compteur du nombre d'inscription(s) à un créneau</p></li>
                <li><p>Changement d'état du créneau lorsqu'il est complet</p></li>
                <li><p>Désactivation automatique des membres déjà inscrits au créneau</p></li>
                <li><p>Désactivation automatique des membres ayant atteints les limites de leur abonnement</p></li>
                <li><p>Création d'une recherche "autocomplete" dans la liste des membres avec un observable</li>
                <!-- <li><p></li> -->
            </ul>
        </div>
    </div>
</div>
